
language: generic

env:
  global:
    - include_integration_tests=true

cache:
  directories:
    - $HOME/Library/Caches/Homebrew

matrix:
  include:
    - os: osx
      osx_image: xcode9.1
      before_install:
        - brew update
        - brew tap caskroom/cask
        - brew cask install dotnet
        - brew cask install powershell
    - os: linux
      # Includes NuGet
      language: csharp
      dotnet: '2.0.0'
      dist: trusty
      # VM-based builds turned out to be faster
      sudo: required
      addons:
        apt:
          sources:
            - sourceline: deb [arch=amd64] https://packages.microsoft.com/ubuntu/14.04/prod trusty main
              key_url: https://packages.microsoft.com/keys/microsoft.asc
          packages:
            - powershell

install:
  - pwsh -c "Install-Module -Force -Scope CurrentUser Pester"
  - dotnet restore

script:
  - dotnet publish --no-restore -o .
  # Run tests and generate coverage report
  - pwsh -c '& {
      Import-Module ./.scripts/CodeCovIo.psm1;
      $res = Invoke-Pester -PassThru -CodeCoverage nvm.psm1;
      Export-CodeCovIoJson -CodeCoverage $res.CodeCoverage -RepoRoot $pwd -Path coverage.json;
      if ($res.FailedCount -gt 0) {
        throw "$($res.FailedCount) tests failed."
      }
    }'

after_success:
  # Upload coverage report to codecov
  - bash <(curl -s https://codecov.io/bash) -f coverage.json
